[Unit]
Description=Case Study 2 Backend
After=network.target

[Service]
Type=simple
User=group09
WorkingDirectory=/home/group09/Case-Study-2/backend
ExecStart=/home/group09/.local/bin/uv run fastapi run routes.py --host 0.0.0.0 --port 9009
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
