[Unit]
Description=Case Study 2 Frontend
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/Case-Study-2/shrug-intelligence
ExecStartPre=/home/ubuntu/.bun/bin/bun run build
ExecStart=/home/ubuntu/.bun/bin/bun run start
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
