@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: 'Courier New', Courier, monospace;
}

body {
  background: #ffffff;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  border-color: #000000;
}
